/*******************************
       Base Layout Styles
********************************/

.email-container p {
   margin: 0 auto;
   width: 90%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.content-wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   /*justify-content: center;
   text-align: center;*/
   margin: 0 auto;
}

form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto 30px auto;
   border: 1px solid #333;
}

input, textarea {
   border: 1px solid #333;
   background-color: #fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  letter-spacing: 0.5px;
   font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
   letter-spacing: 0.5px;
   font-style: italic;

}
:-ms-input-placeholder { /* IE 10+ */
   letter-spacing: 0.5px;
   font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
   letter-spacing: 0.5px;
   font-style: italic;
}

textarea {
   resize: none;
}

.content-wrapper p {
   margin: 0 auto;
}

.NE-container {
   margin: 0 auto;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#name {
   width: 50%;
}

#email {
   width: 50%;
}

#submit:hover {
 /*color: white;*/
 /*background-color: #CFCFCF; */
}


/***************************
       MEDIA QUERIES
***************************/

@media only screen and (min-width: 320px) {

   .email-container {
      margin: 25px;
   }

   .description {
      margin-top: 100px;
   }

   form {
      width: 80%;
   }

   input, textarea {
      padding: 5px 0 5px 10px;
   }

   .description {
      font-size: 12px;
      line-height: 25px;
   }

}


@media only screen and (min-width: 480px) {

   form {
      width: 360px;
   }
}

@media only screen and (min-width: 768px) {

   .description {
      font-size: 15px;
      line-height: 30px;
   }
}
