/* Fonts */
/* Come back to this */
@font-face {
   font-family: 'Apercu-Regular';
   src: url('../_fonts/Apercu-Regular.eot');
   src: url('../_fonts/Apercu-Regular.otf');
   src: url('../_fonts/Apercu-Regular.woff') format('woff'),
   url('../_fonts/Apercu-Regular.ttf') format('truetype'),
   url('../_fonts/Apercu-Regular.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'DIN-BlackAlternate';
   src: url('../_fonts/DINBlackAlternate.eot');
   src: url('../_fonts/DINBlackAlternate.otf');
   src: url('../_fonts/DINBlackAlternate.woff') format('woff'),
   url('../_fonts/DINBlackAlternate.ttf') format('truetype'),
   url('../_fonts/DINBlackAlternate.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'DIN-CondensedBold';
   src: url('../_fonts/DINCondensedBold.eot');
   src: url('../_fonts/DINCondensedBold.otf');
   src: url('../_fonts/DINCondensedBold.woff') format('woff'),
   url('../_fonts/DINCondensedBold.ttf') format('truetype'),
   url('../_fonts/DINCondensedBold.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

/*******************************
Base Element Styles
********************************/
html, body {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   overflow-x: hidden;
   width: 100%;
   height: auto;
   padding: 0;
   font-family: Apercu-Regular;
   color: #0F0F0F;
}

a {
   text-decoration: none;
   color: inherit;
}

a:hover {
   cursor: pointer;
}

ul {
   list-style: none;
}

img {
   width: 100%;
   vertical-align: middle;
   border-style: none;
}

/* TOP */

header {
   position: relative;
}

.full-width {
   width: 100%;
}

.hero-banner, .image-container,
.hero-container, .hero {
   max-width: 100%;

}

.hero-banner {
   z-index: 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   position: relative;
}


.logo img, .banner-text {
   opacity:0;
   -webkit-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;
   -webkit-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
   -webkit-animation-duration:1s;
   animation-duration:1s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


/*Lazy Load*/

.lazyload {
   -webkit-transition: opacity 900ms ease-in-out, -webkit-transform 500ms ease-in-out;
   transition: opacity 900ms ease-in-out, -webkit-transform 500ms ease-in-out;
   -o-transition: transform 500ms ease-in-out, opacity 900ms ease-in-out;
   transition: transform 500ms ease-in-out, opacity 900ms ease-in-out;
   transition: transform 500ms ease-in-out, opacity 900ms ease-in-out, -webkit-transform 500ms ease-in-out;
   -webkit-transform: translateY(30px);
   -ms-transform: translateY(30px);
   transform: translateY(30px);
   opacity: 0;
}

.lazyload.active {
   -webkit-transform: translateY(0);
   -ms-transform: translateY(0);
   transform: translateY(0);
   opacity: 1;
}

/* Text Selection */
::-moz-selection { /* Code for Firefox */
   color: #fff;
   background: #313131;
}

::selection {
   color: #fff;
   background: #313131;
}


/*Contact Form */

.modal, .video-modal {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 1000;
   background-color: rgba(48, 48, 48, 0.7);
   overflow: scroll;
}

#contact-modal  {
   overflow: auto;
   display: none;
}

.video-modal-input-box {
   max-width: 960px;
   max-height: 540px;
   border-radius: 4px;
   margin: 100px auto;
   padding: 30px 45px;
   position: relative;
}

.videoWrapper {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.video-close {
   cursor: pointer;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: flex-end;
   position: absolute;
   top: 4px;
   right: 22px;
}

iframe {
   width: 100%;
   max-width: 960px;
   max-height: 540px;
}

.modal-input-box {
   background-color: white;
   max-width: 350px;
   border-radius: 4px;
   margin: 150px auto;
   padding: 75px;
   position: relative;
}

.legend-container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: auto;
}

.legend-container legend h2 {
   text-align: left;
   font-family: DIN-CondensedBold;
   font-size: 24px;
   letter-spacing: 2px;
}

label {
   margin-left: 21px;
}

#close {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: flex-end;
   position: absolute;
   top: 40px;
   right: 40px;
   cursor: pointer;
}

.contact-input {
   color: #A6AEB7;
   font-size: 15px;
   font-weight: lighter;
}

.email-container {
   margin: 0;
   max-width: 415px;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   text-align: left;
}

.email-container p {
   font-size: 15px;
   font-family: Apercu-Regular;
   line-height: 30px;
}

#name, #email, #message {
   text-align: left;
}

#message {
   color: #A6AEB7;
}

.content-wrapper {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   margin: 0 auto;
}

.contact-form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
   margin: 0 auto;
}

input, textarea {
   border: 2px solid #E5E5E5;
   padding: 18px;
   margin-bottom: 15px;
   background-color: #fff;
   width: 90%;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

input:hover, textarea:hover {
   border: 2px solid #000;
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
}

input:focus, textarea:focus {
   outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   color: #A6AEB7;
}
::-moz-placeholder { /* Firefox 19+ */
   color: #A6AEB7;
}
:-ms-input-placeholder { /* IE 10+ */
   color: #A6AEB7;
}
:-moz-placeholder { /* Firefox 18- */
   color: #A6AEB7;
}

#submit {
   width: 101%;
   border: 1.5px solid #000;
   font-size: 13px;
   letter-spacing: 1px;
   font-weight: 600;
   margin-bottom: 0;
}

#submit:hover {
   background-color: #000;
   color: #fff;
}

textarea {
   resize: none;
   height: 100px;
}

#email {
   margin-top: -19px;
}


#scroll-to-top {
   background: url('../images/arrow2.png') no-repeat center center;
   width: 32px;
   height: 30px;
   position: fixed;
   right: 30px;
   bottom: 30px;
   cursor: pointer;
   font-size: 0;
   display: none;
}


/***************************
MEDIA QUERIES
***************************/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

   /* MOBILE NAV */
   .desktop {
      display: none;
   }

   nav a {
      color: #ACACAC;
      margin-bottom: 40px;
      font-family: DIN-BlackAlternate;
      font-size: 16px;
      letter-spacing: 4px;
      line-height: 20px;
   }

   nav .active {
      color: black;
   }

   .overlay a {
      display: block;
   }

   .overlay a:hover {
      color: #000;

   }

   .menu-toggle {
      padding: 1em;
      position: absolute;
      cursor: pointer;
      z-index: 100;
      margin-top: 31px;
      margin-left: 22px;
   }

   .hamburger, .hamburger::before,
   .hamburger::after {
      content: '';
      display: block;
      background: #FFF;
      height: 3px;
      width: 1.4em;
      border-radius: 3px;
      -webkit-transition: all .7s ease;
      -o-transition: all .7s ease;
      transition: all .7s ease;
   }

   .navbar-on .hamburger::before, .navbar-on .hamburger::after{
      background-color: #333;
      position: absolute;
      margin-top: 12px;
      z-index: 1000;
   }

   .hamburger::before {
      -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
      transform: translateY(-8px);
   }

   .hamburger:hover:before {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
   }

   .hamburger::after {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
   }

   .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: white;
      overflow-x: hidden;
      z-index: 1000;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
   }

   .menu {
      position: relative;
      top: 100px;
      width: 100%;
      text-align: center;
      margin-top: 30px;
   }

   .mobile-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
      text-align: center;
   }

   a.closeBtn {
      font-size: 40px;
   }

   .mobile-logo {
      width: 55px;
      -ms-flex-item-align: center;
      align-self: center;
      margin: 0 auto;
      padding-right: 62px;
      /*font-size: 35px;*/
      /*font-family: DIN-BlackAlternate;*/
   }

   .ml {
      font-family: Apercu-Regular
   }

   .closeBtn {
      margin: 31px 0 25px 36px;
      font-size: 20px;
   }

   /* END MOBILE NAV */

   .hero-container {
      padding: 10px;
   }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

   .desktop {
      margin-top: 84px;
      margin-left: 20px;
      margin-right: 20px;
      float: right;
      top: 0;
      right: 0;
      position: absolute;;
      z-index: 500;
      display: block;
   }

   .desktop a {
      color: rgba(255,255,255,0.5);
      font-family: 'DIN-BlackAlternate';
      letter-spacing: 3px;
      margin: 0 30px 0 0;
      font-size: 11px;
   }

   .desktop a:hover {
      color: #FFF;
   }

   .desktop .active {
      color: #FFF;
   }

   .menu-toggle, .menu, .overlay, .mobile-header {
      display: none;
   }

   .hero-banner {
      margin-top: 43px;
      margin-left: 40px;
   }

}
