@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

   .skate-carousel img { /* IE10 */
      border-radius: 6px;
      height: auto;
      width: auto;
      max-width: 1360px;
   }

   *::-ms-backdrop, .skate-carousel img { /* IE11 */
      border-radius: 6px;
      height: auto;
      width: auto;
      max-width: 1360px;
   }

   .skate-video img {
      width: auto;
      height: auto;
      max-width: 400px;
   }

   *::-ms-backdrop, .skate-video img {
      width: auto;
      height: auto;
      max-width: 400px;
   }

   .skate-2-container {
      width: auto;
      height: auto;
      max-width: 1440px;
   }

   *::-ms-backdrop, .skate-2-container {
      width: auto;
      height: auto;
      max-width: 1000px;
   }

   .skate-img img {
      width: auto;
      height: auto;
      max-width: 334px;
   }

   *::-ms-backdrop, .skate-img img {
      width: auto;
      height: auto;
      max-width: 334px;
   }

   .skate-video {
      width: 100%;
      height: 100%;
   }

   *::-ms-backdrop, .skate-video {
      width: 100%;
      height: 100%;
   }

   .grey-box-container-2 {
      display: none;
   }

   *::-ms-backdrop, .grey-box-container-2 {
      display: none;
   }

   .wsi1 {
      width: auto;
      height: auto;
      max-width: 150px;
   }

   *::-ms-backdrop, .wsi1 {
      width: auto;
      height: auto;
      max-width: 150px;
   }

   .mri-container img {
      width: auto;
      height: auto;
      max-width: 1200px;
   }

   *::-ms-backdrop, .mri-container img {
      width: auto;
      height: auto;
      max-width: 1200px;
   }

   .mcci img {
      width: auto;
      height: auto;
      max-width: 700px;
   }

   *::-ms-backdrop, .mcci img {
      width: auto;
      height: auto;
      max-width: 700px;
   }

   #mailchimp input {
      margin-top: 20px;
      margin: 20px 0 0 0 !important;
   }

   *::-ms-backdrop, #mailchimp input {
      margin-top: 20px;
      margin: 20px 0 0 0 !important;
   }

   .sc {
      display: block;
   }

   *::-ms-backdrop, .sc {
      display: block;
   }

   .ec3 {
      display: block;
   }

   *::-ms-backdrop, .ec3 {
      display: block;
   }

   .et2-container {
      text-align: center;
      margin: 60px auto;
   }

   *::-ms-backdrop, .et2-container {
      text-align: center;
      margin: 60px auto;
   }

   .ei3-container {
      width: auto;
      height: auto;
      margin: 0 auto;
   }

   *::-ms-backdrop, .ei3-container {
      width: auto;
      height: auto;
      margin: 0 auto;
   }

   .insta-container {
      display: block;
   }

   *::-ms-backdrop, .insta-container {
      display: block;
   }

   .wsi1-container {
      display: block;
   }

   *::-ms-backdrop, .wsi1-container {
      display: block;
      box-shadow: none;
   }


   /* MEDIA PAGE */

   .sv {
      display: block;
      text-align: center;
   }

   *::-ms-backdrop, .sv {
      display: block;
      text-align: center;
   }

   .section2-container {
      display: block;
   }

   *::-ms-backdrop, .section2-container {
      display: block;
   }

   .hero-banner {
      display: block;
   }

   *::-ms-backdrop, .hero-banner {
      display: block;
   }

   .section1-container {
      display: block;
   }

   *::-ms-backdrop, .section1-container {
      display: block;
   }

   /* PARTNERSHIPS PAGE */


   .sw-img img {
      width: auto;
      height: auto;
      max-width: 400px;
   }

   *::-ms-backdrop, .sw-img img {
      width: auto;
      height: auto;
      max-width: 400px;
   }

   .snow-video-1 {
      display: block;
      text-align: center;
   }

   *::-ms-backdrop, .snow-video-1 {
      display: block;
      text-align: center;
   }

   .skate-video, .skate-img {
      display: block;
   }

   @media only screen and (min-width : 320px) {

      .snow-video-1 img {
         width: auto;
         height: auto;
         max-width: 400px;
      }

      *::-ms-backdrop, .snow-video-1 img {
         width: auto;
         height: auto;
         max-width: 400px;
      }

      .skate-container {
         width: auto;
         height: auto;
      }

      *::-ms-backdrop, .skate-container {
         width: auto;
         height: auto;
      }


      .skate-video img {
         width: auto;
         height: auto;
         max-width: 300px;
      }

      *::-ms-backdrop, .skate-video img {
         width: auto;
         height: auto;
         max-width: 300px;
      }

      .et2-container {
         text-align: center;
         margin: 60px auto;
      }

      *::-ms-backdrop, .et2-container {
         text-align: center;
         margin: 60px auto;
      }

      .skate-carousel img {
         max-width: 1200px;
      }

      .wsi1-container {
         display: block;
      }

      *::-ms-backdrop, .wsi1-container {
         display: block;
      }

      /* Partnerships Page */
      .snow-img img {
         width: auto;
         height: auto;
         max-width: 200px;
      }

      *::-ms-backdrop, .snow-img img {
         width: auto;
         height: auto;
         max-width: 200px;
      }

   }

   @media only screen and (min-width : 768px) {

      .snow-video-1 img {
         width: auto;
         height: auto;
         max-width: 700px;
      }

      *::-ms-backdrop, .snow-video-1 img {
         width: auto;
         height: auto;
         max-width: 700px;
      }

      .hero-banner {
         display: block;
      }

      *::-ms-backdrop, .hero-banner {
         display: block;
      }


   }

   @media only screen and (min-width : 992px) {

      .skate-img {
         width: auto;
         height: auto;
         max-width: 334px;
      }

      *::-ms-backdrop, .skate-img {
         width: auto;
         height: auto;
         max-width: 334px;
      }

      .mri-right-container {
         display: none !important;
      }

      *::-ms-backdrop, .mri-right-container {
         display: none !important;
      }

      /* PARTNERSHIPS PAGE */

      .sw-img img {
         width: auto;
         height: auto;
         max-width: 500px;
      }

      *::-ms-backdrop, .sw-img img {
         width: auto;
         height: auto;
         max-width: 500px;
      }


      .sw-img {
         width: auto;
      }

      *::-ms-backdrop, .sw-img {
         width: auto;
      }

      .partnerships-2-container {
         margin: 0 auto;
      }

      *::-ms-backdrop, .partnerships-2-container {
         margin: 0 auto;
      }

   }

   @media only screen and (min-width : 1080px) {
      .skate-container {
         width: auto;
         height: auto;
         max-width: none;
      }

      *::-ms-backdrop, .skate-container {
         width: auto;
         height: auto;
         max-width: none;
      }
   }


   @media only screen and (min-width : 1350px) {

      .snow-video-1 img {
         width: auto;
         height: auto;
         max-width: 900px;
      }

      *::-ms-backdrop, .snow-video-1 img {
         width: auto;
         height: auto;
         max-width: 900px;
      }

   }



} /*end*/
