/* Fonts */
/* Come back to this */
@font-face {
  font-family: 'Apercu-Regular';
  src: url('../_fonts/ApercuRegular-f396cd8a.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-BlackAlternate';
  src: url('../_fonts/DINBlackAlternate.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-CondensedBold';
  src: url('../_fonts/DINCondensedBold.ttf');
  font-weight: normal;
  font-style: normal;
}

/*******************************
       Base Element Styles
********************************/
html {
   box-sizing: border-box;
   margin: 0;
   overflow-x: hidden;
   max-width: 100%;
}

body {
   font-family: Apercu-Regular;
   color: #0F0F0F;
   margin: 0 auto;
   /*background-color: thistle;*/
}

a {
   text-decoration: none;
   color: inherit;
}

a:hover {
   cursor: pointer;
}

ul {
   list-style: none;
}

img {
   max-width: 100%;
   vertical-align: middle;
   border-style: none;
}

nav a {
   color: rgba(255,255,255,0.5);
   letter-spacing: 3px;
}

nav a:hover {
   color: #fff;
}


/*******************************
       Base Layout Styles
********************************/

.full-width {
   width: 100%;
}

.hero-banner, .image-container,
.hero-container, .hero {
   max-width: 100%;

}

.logo {
   width: 100%;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 42.5%;
   z-index: 100;
}


.hero-banner {
   z-index: 0;
   display: flex;
   flex-direction: column;
   position: relative;
   /*box-shadow: 0 2px 50px 0 rgba(0,0,0,.1); /* COME BACK TO THIS */
}

.about {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 4%;

}


.about-nav ul {
   display: flex;
   justify-content: center;
   margin: 0;

}
.about-nav li a {
   color:#0F0F0F;
   font-family: DIN-BlackAlternate;
}

.about-nav li a:hover {
   text-decoration: line-through; /*COME BACK TO THIS */
}

.about-p {
   flex-wrap: wrap;
}

.about-p p {
   margin: 0;
}

.intro {
   width: 100%;
   margin: 0 auto;
}

.intro-module {
   max-width: 100%;
   margin: 0 auto;
}

.intro-image-container {
   position: relative;
}

.intro-image {
   width: 51%;
   z-index: 1;
   position: absolute;
   left: 0;
   box-shadow: 0 2px 50px 0 rgba(0,0,0,.1);
}


.grey-box-container {
   margin: 115px auto 0 auto;
   max-width: 100%;
   position: relative;
   top: -50%;
   /*height: 650px;*/
}

.grey-box {
   background-color: #F3F3F3;
   width: 50%;
   height: 100%;
   padding-right: 115px;
   border-radius: 6px;
   position: absolute;
}

.intro-copy-container {
   max-width: 52%;
   width: 100%;
   padding-right: 153px;
   position: relative;
}

.intro-copy {
   position: absolute;
   z-index: 50;
}

hr {
   height: 2px;
   background-color: #EEE;
   color: #EEE;
   border-style: solid;

}

.intro-copy h2 {
   margin: 0;
   font-family: DIN-CondensedBold;
   color: #0F0F0F;
   word-break: break-all;
}

.intro-2 {
   display: flex;
   justify-content: center;
}
.intro-module-2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
}

.intro-quote {
   font-family: DIN-CondensedBold;
   color: #0F0F0F;
   text-transform: uppercase;
}

.intro-bio {
   font-family: Apercu-Regular;
}


.athlete {
   width: 100%;
   margin: 0 auto;
   height: auto;
   margin-top: 50px;
}

.athlete-module {
   max-width: 1869px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.athlete-title-container {
   text-align: center;
}

.athlete-title-container h2 {
   font-family: DIN-BlackAlternate;
   margin: 0;
   color: #F7F7F7;
}


.athlete-image {
   box-shadow: 0 2px 50px 0 rgba(0,0,0,.1);
}


/***************************
       MEDIA QUERIES
***************************/

@media only screen and (min-width: 320px) and (max-width: 670px) {
   .grey-box-container {
      height: 150px;
   }

}

@media only screen and (min-width: 320px) and (max-width: 767px) {
   .hero-container {
      padding: 10px;
   }

   .logo img {
      max-width: 40.5%;
   }

   .about {
      margin-top: 45px;
   }

   .about-nav li a {
      margin: 0 40px 0 0 ;
      font-size: 10px;
      letter-spacing: 2px;
   }

   .about-p {
      margin-top: 45px;
      width: 320px;
   }
   .about-p p {
      line-height: 25px;
      font-size: 12px;
   }


   .grey-box-container {
      height: 250px;
   }

   .intro {
      min-height: 280px;
   }

   .intro-copy {
      right: 36px;
      top: -30px;
   }

   .intro-image {
      margin: 75px 0;
   }

   hr {
      width: 25px;
      margin: 0 0 15px 0;
   }

   .intro-copy h2 {
      font-size: 30px;
      letter-spacing: 1.5px;
      line-height: 25px;
   }

   .intro-2 {
      margin-top: 45px;
   }

   .intro-quote {
      width: 300px;
      font-size: 14px;
      letter-spacing: 1.17px;
      line-height: 25px;
      text-align: left;
   }

   .intro-bio {
      width: 320px;
      font-size: 12px;
      line-height: 25px;
   }

   .athlete-title-container h2 {
      font-size: 50px;
      letter-spacing: 20px;
      line-height: 100px;
   }



}


@media only screen and (min-width: 768px) {
   .hero-banner {
      margin-top: 43px;
      margin-left: 40px;
   }

   nav {
      margin-top: 41px;
      margin-left: 30px;
      margin-right: 30px;
      float: right;
      right: 0;
      position: fixed;
      font-family: 'DIN-BlackAlternate';
      font-size: 11px;
      z-index: 500;
   }

   nav a {
      margin: 0 40px 0 0;
   }

   .about {
      margin-top: 5.4%;
   }
   .about-nav li a {
      font-size: 11px;
      letter-spacing: 3px;
      margin: 0 50px 0 0 ;
   }

   .about-p {
      margin-top: 80px;
      width: 500px;
   }
   .about-p p {
      line-height: 30px;
      font-size: 15px;
   }

   .intro-image {
      margin: 115px 0;
   }

   .intro-quote {
      width: 782px;
      font-size: 24px;
      letter-spacing: 2px;
      line-height: 40px;
      text-align: center;
   }

   .intro-bio {
      width: 500px;
      font-size: 15px;
      line-height: 30px;
   }

   .athlete-title-container h2 {
      line-height: 305px;
      padding: 0 2.8%;
   }

   .athlete-image-container {
      display: inline-block;
      position: relative;
      top: -100px;

   }
}

@media only screen and (min-width: 768px) and (max-width: 1079px) {
   .logo img {
      max-width: 50%;
   }

   hr {
      width: 50px;
      margin: 0 0 35px 0;
   }

   .intro {
      min-height: 550px;
   }


   .intro-copy {
      right: 20px;
      top: -74px;
   }

   .intro-copy h2 {
      font-size: 75px;
      letter-spacing: 2px;
      line-height: 65px;
   }

   .grey-box-container {
      height: 350px;
   }

   .athlete-title-container h2 {
      font-size: 95px;
      letter-spacing: 50px;
   }
}

@media only screen and (min-width: 1080px) {
   .logo img {
      max-width: 100%;
   }

   hr {
      width: 82px;
      margin: 0 0 35px 0;
   }
   .intro {
      min-height: 765px;
   }

   .intro-copy {
      right: 10px;
      top: -80px;
   }

   .intro-copy h2 {
      font-size: 100px;
      letter-spacing: 5px;
      line-height: 75px;
   }

   .grey-box-container {
      height: 450px;
   }
   .athlete-title-container h2 {
      font-size: 220px;
      letter-spacing: 95px;
   }

}
