/*******************************
Base Element Styles
********************************/

html, body {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   overflow-x: hidden;
   width: 100%;
   padding: 0;
   font-family: Apercu-Regular;
   color: #0F0F0F;
}

/*******************************
Base Layout Styles
********************************/
/* BANNER AREA */

.banner-text {
   font-family: DIN-CondensedBold;
   position: absolute;
   left: 0;
   text-align: center;
   color: #FFF;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-flow: column wrap;
   flex-flow: column wrap;
}

.play-icon {
   position: absolute;
}

/* SUBNAV AREA */

.m-subnav ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: 0;
   text-align: center;
}

.m-subnav li {
   position: relative;
}

.m-subnav li a {
   font-family: DIN-CondensedBold;
}

.m-subnav li a:hover {
   color: #0F0F0F;
}

.m-subnav li a:after {
   background: none repeat scroll 0 0 transparent;
   bottom: 5px;
   content: "";
   display: block;
   height: 1.5px;
   left: 0;
   position: absolute;
   background: #000;
   -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
   -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
   transition: width 0.3s ease 0s, left 0.3s ease 0s;
   width: 0;
}
.media:hover:after {
   width: 60%;
   left: 0;
}

.interviews:hover:after {
   width: 75%;
   left: 0;
}

/* SECTION 1 */

.section1 {
   width: 100%;
   margin: 0 auto;
   height: auto;
}

.section1-container {
   max-width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.s1 {
   margin-top: 25px;
   margin-right: 42%;
   margin-left: 20%;
}

.s1 img {
   -webkit-box-shadow: 0 2px 50px 0 rgba(0,0,0,.1);
   box-shadow: 0 2px 50px 0 rgba(0,0,0,.1);
}


/* SECTION 2 */

.section2 {
   width: 100%;
   margin: 0 auto;
   height: auto;
}

.section2-container {
   max-width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   position: relative;
}

.st h2 {
   font-family: DIN-BlackAlternate;
   color: #F7F7F7;
   text-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0 auto;
}

.svc {
   display: inline-block;
   position: relative;
}

.sv {
   margin: 0 auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.offset-container {
   max-width: 1440px;
   margin: 0 auto;
}

.sv2-container, .sv3-container {
   width: 100%;
   margin: 0 auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.sv6 {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

/* INTERVIEW SECTION */

.interview-section {
   width: 100%;
   margin: 50px auto 0;
   height: auto;
   max-width: 1440px;
}

.i-section-container {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   position: relative;
}

.it h2 {
   font-family: DIN-BlackAlternate;
   color: #F7F7F7;
   text-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0 auto;
}

.ivc, .ivc2, .ivc3 {
   position: relative;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.iv1 img, .iv2 img, .iv3 img, .iv4 img {
   width: 100%;
   -webkit-box-shadow: 0 2px 35px 0 rgba(0,0,0,.1);
   box-shadow: 0 2px 35px 0 rgba(0,0,0,.1);
}

.itc1 p, .itc2 p {
   margin: 0;
   font-family: DIN-CondensedBold;
   text-transform: uppercase;
}

.footer {
   width: 100%;
}

.sv4 img, .sv5 img, .s1 img, .ev3 img, .sv img {
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
   z-index: -1;
}

.sv4 img:hover, .sv5 img:hover, .s1 img:hover, .ev3 img:hover, .sv img:hover {
   -webkit-transform: scale(.95);
   -ms-transform: scale(.95);
   transform: scale(.95);
}

.sv2 img, .sv3 img, .iv1 img, .iv2 img, .iv3 img, .iv4 img {
   -webkit-transition:  all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
   z-index: -1;
}

.sv2 img:hover, .sv3 img:hover, .iv1 img:hover, .iv2 img:hover, .iv3 img:hover, .iv4 img:hover {
   -webkit-transform: scale(.95);
   -ms-transform: scale(.95);
   transform: scale(.95);
}

#video-modal, #video-modal2, #video-modal3, #video-modal4, #video-modal5, #video-modal6, #video-modal7, #video-modal8, #video-modal9, #video-modal10, #video-modal11, #video-modal12, #video-modal13, #video-modal14  {
   overflow: auto;
   display: none;
}

/***************************
MEDIA QUERIES
***************************/

@media only screen and (min-width : 320px) {

   /* BANNER AREA */

   video {
      display: none;
   }
   .media-logo {
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 22px;
      margin-top: 32px;
      margin-right: 45%;
      z-index: 500;
   }

   .banner-text-container {
      width: 100%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }

   .banner-text {
      width: 100%;
      top: 35%;
      margin: 0 auto;
      display: inline-block;
   }

   .banner-text .play-icon {
      position: absolute;
      top: 175px;
      left: 49%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
   }

   .sv .play-icon {
      position: absolute;
      top: 43%;
      left: 50%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      right: auto;
   }

   .banner-text h2 {
      width: 50%;
      margin: 0 auto;
      font-size: 30px;
      letter-spacing: 8px;
      line-height: 40px;
      word-wrap: break-word;
   }

   .hero {
      display: none;
   }

   /* SUBNAV AREA */
   .m-subnav ul {
      margin-top: 50px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

   }

   .m-subnav li a {
      margin-right: 39px;
      font-size: 24px;
      letter-spacing: 2px;
      line-height: 40px;
      color: #CFCFCF;
   }

   /* SECTION 1 */
   .s1 img {
      border-radius: 6px;
   }

   /* SECTION 2 */
   .section2 {
      margin-top: 35px; /*Check this later */
   }

   .svc {
      top: -4.2vh;
   }

   .sv img {
      margin: 0 auto;
      width: 85%;
      border-radius: 6px;
      -webkit-box-shadow: 0 2px 50px 0 rgba(0,0,0,.2);
      box-shadow: 0 2px 50px 0 rgba(0,0,0,.2);
   }

   .st h2 {
      font-size: 12.4vw;
      letter-spacing: 5vw;
      line-height: 100px;
   }

   .sv p {
      width: 100%;
      font-size: 13px;
      letter-spacing: 0.19px;
      line-height: 20px;
      -ms-flex-item-align: start;
      align-self: flex-start;
      padding-left: 7.2%;
      margin: 20px 0 0 0;
   }

   .sv2 {
      padding: 0 31px 0 28px
   }

   .sv3 {
      padding: 0 28px 0 0
   }

   .sv2 img, .sv3 img {
      width: 100%;
      border-radius: 6px;
      -webkit-box-shadow: 0 2px 35px 0 rgba(0,0,0,.1);
      box-shadow: 0 2px 35px 0 rgba(0,0,0,.1);
   }

   .sv2 p, .sv3 p {
      margin: 25px 0 0;
      font-size: 13px;
      letter-spacing: 0.19px;
      line-height: 20px;
   }

   .sv3-container {
      margin-top: 50px;
   }

   .sv4 {
      padding: 0 33px 0 44px
   }

   .sv5 {
      padding: 80px 45px 0 0
   }

   .sv6 {
      padding: 25px 153px 0 95px;
   }

   .sv4 img, .sv5 img {
      width: 100%;
      border-radius: 6px;
      -webkit-box-shadow: 0 2px 35px 0 rgba(0,0,0,.1);
      box-shadow: 0 2px 35px 0 rgba(0,0,0,.1);
   }

   .sv4 p, .sv5 p, .s1 p {
      margin: 10px 0 0;
      font-size: 11px;
      letter-spacing: 0.16px;
      line-height: 20px;
   }

   /* INTERVIEW SECTION*/

   .it h2 {
      font-size: 10.5vw;
      letter-spacing: 3.5vw;
      line-height: 100px;
      padding-left: 3.5vw;
   }

   .iv1 {
      width: 100%;
      padding: 0 0 0 6.8%;
   }

   .iv1 img, .iv2 img, .iv3 img, .iv4 img {
      width: 100%;
      border-radius: 6px;
   }

   .iv4 {
      width: 100%;
      padding: 0 10.5% 0 0.5%;
   }

   .iv1 p, .iv2 p, .iv3 p, .iv4 p {
      font-size: 11px;
      letter-spacing: 0.16px;
      line-height: 20px;
   }

   .itc1 {
      padding: 10% 2.2% 0 3%;
   }

   .itc2 {
      padding: 5% 3.5% 0 2%;
   }

   .itc1 p, .itc2 p {
      font-size: 3.2vw;
      letter-spacing: 0.25vw;
      line-height: 6vw;
   }

   .itc1 p {
      padding-left: 30px;
   }

   .itc2 p {
      padding-right: 5%;
      text-align: right;
   }

   .ivc, .ivc3 {
      top: -4.6vh;
   }

   .ivc, .ivc2, .ivc3 {
      margin: -6px auto;
   }

   .ivc3 {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      margin-top: 10%;
   }

   .iv2 {
      padding: 0 1.5% 0 6.8%;
   }

   .iv2 img, .iv3 img {
      width: 90%;
   }


   .iv3 {
      padding: 0 6.8% 0 1.5%;
   }

   /*Firefox Fixes*/
   @-moz-document url-prefix() {

      .sv2 {
         padding: 0 15px 0 28px !important;
      }

      .sv3 {
         padding: 0 28px 0 15px !important;
      }

      .sv5 img {
         width: 94% !important;
      }

      .ivc3  {
         top: 10% !important;
      }

      .iv1 {
         padding: 0 2% 0 6.8% !important;
      }

      .iv1 img, .iv2 img, .iv3 img, .iv4 img {
         width: 92% !important;
      }

      .itc1 {
         padding: 10% 7.8% 0 0 !important;

      }

      .itc1 p {
         padding-left: 0 !important;
      }

      .iv2 {
         padding: 0 1.5% 0 6.8% !important;
      }

      .iv2 img, .iv3 img {
         width: 95% !important;
      }

      .iv3 {
         padding: 0 5.2% 0 1.5% !important;
      }

      .iv4 {
         width: 95% !important;
         padding: 0 3% 0 2.2% !important;
      }

      .itc2 {
         padding: 5% 2.2% 0 3% !important;
      }

      .ivc3 {
         margin-top: 30px !important;
      }

   }

}

@media only screen and (min-width : 430px) {
   .banner-text {
      top: 44%;
   }

   .banner-text .play-icon {
      position: absolute;
      top: 140px;
      left: 49%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
   }
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 570px) {

   /* BANNER AREA */
   .banner-text {
      width: 100%;
   }

   .sv3-container {
      margin-top: 100px;
   }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

   /* BANNER AREA */
   .media-logo {
      position: absolute;
      width: 45px;
      height: 22px;
      margin-top: 32px;
      margin-left: 40px;
      z-index: 500;
      top: 10px;
      left: 10px;
   }

   .banner-text {
      top: 42%;
   }

   .banner-text h2 {
      width: 100%;
      font-size: 4.02vw;
      letter-spacing: 1.5vw;
      line-height: 50px;
   }

   .banner-text .play-icon {
      position: absolute;
      top: 120px;
      left: 49%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
   }

   .hero {
      display: block;
   }

   .mm-hero {
      display: none;
   }


   /* SUBNAV AREA */
   .m-subnav ul {
      margin-top: 32px;
      margin-left: 10%;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;;
   }

   .m-subnav li a {
      margin-right: 31px;
      font-size: 24px;
      line-height: 40px;
      color: #CFCFCF;
   }

   /* SECTION 2 */
   .section2 {
      margin-top: 75px; /*Check this later */
   }

   .svc {
      top: -2.2vh;
   }

   .st h2 {
      font-size: 15.4vw;
      letter-spacing: 7vw;
      line-height: 100px;
   }

   .sv2-container {
      margin-top: 65px;
      margin-bottom: 50px;
   }

   .sv2 {
      padding: 0 60px 0 80px;
   }

   .sv3 {
      padding: 0 80px 0 0;
   }

   .sv2 p, .sv3 p {
      margin: 20px 0 0;
   }

   .sv3-container {
      margin-top: 105px;
   }

   .sv4 {
      padding: 0 60px 0 100px;
   }

   .sv5 {
      padding: 58px 80px 0 0;
   }

   .sv4 p, .sv5 p, .s1 p {
      font-size: 13px;
   }

   .iv1 p, .iv2 p, .iv3 p, .iv4 p {
      font-size: 13px;
   }

   /*Firefox Fixes*/
   @-moz-document url-prefix() {
      .sv2 {
         padding: 0 30px 0 80px !important;
      }

      .sv3 {
         padding: 0 80px 0 30px !important;
      }

      .ivc3 {
         margin-top: 50px !important;
      }
   }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

   .banner-text {
      width: 100%;
      top: 43%;
   }

   /* SECTION 1 */
   .s1 img, .sv4 img, .sv5 img {
      border-radius: 0;
   }

   .s1 img {
      width: 75%;
   }

   .s1 {
      margin-top: 75px;
      margin-right: 32%;
      margin-left: 30%;

   }

   #sv4 {
      padding: 0 12.4% 0 17%;
      position: relative;
   }

   @-moz-document url-prefix() {
      #sv4 {
         padding: 0 6.2% 0 17% !important;
      }

      .sv5 {
         padding: 58px 17% 0 6.2% !important;
      }

      .sv5 img {
         width: 100% !important;
      }
   }

   /* SECTION 2 */

   .svc {
      top: -15.5vh;
   }

   .st h2 {
      font-size: 16.5vw;
      letter-spacing: 14vw;
      line-height: 305px;
      padding-left: 14vw;
   }

   .sv img {
      width: 65%;
      border-radius: 0;
   }

   .sv p {
      padding-left: 17.2%;

   }

   .sv2-container {
      margin-top: -20px;
      margin-bottom: 0;
   }

   .sv2 {
      padding: 0 6% 0 18.2%;
   }

   .sv3 {
      padding: 0 18.2% 0 0.5%;
   }

   @-moz-document url-prefix() {
      .sv2 {
         padding: 0 3% 0 18.2% !important;
      }

      .sv3 {
         padding: 0 18.2% 0 3.5% !important;
      }
   }

   .sv2 img, .sv3 img {
      border-radius: 0;
   }

   .sv3-container {
      margin-top: 150px;
   }

   .sv4 {
      padding: 0 10.4% 0 18%;
      position: relative;
   }

   .sv5 {
      padding: 10% 13.5% 0 0;
      position: relative;
   }

   /*.sv4 p, .sv5 p {
   transform: rotate(270deg);
   }*/

   /* INTERVIEW SECTION */

   .it h2 {
      font-size: 13vw;
      letter-spacing: 3.2vw;
      line-height: 305px;
      padding-left: 6vw;
   }

   .ivc {
      top: -12.4vh;
   }

   .itc1 p, .itc2 p {
      font-size: 1.5vw;
      letter-spacing: 0.2vw;
      line-height: 3vw;
      padding-left: 0;
   }

   .ivc, .ivc2 {
      margin: -30px auto;
   }

   .iv1, .itc2 {
      width: 100%;
      padding: 0 8% 0 7%;
   }

   @-moz-document url-prefix() {
      .iv1 {
         padding: 0 4% 0 7% !important;
      }

      .itc1 {
         padding: 8% 11% 0 0 !important;
      }

      .ivc3 {
         margin-top: 75px !important;
      }

      .itc2 p {
         padding-left: 11% !important;
      }
   }

   .itc2 {
      padding: 0 7% 0 7%;
   }

   .iv1 img, .iv2 img, .iv3 img, .iv4 img {
      width: 100%;
      border-radius: 0;
   }

   .itc2 {
      padding-top: 6%;
   }

   .iv2 {
      width: 100%;
      padding: 0 7.5% 0 7%;
   }

   .iv1, .iv3 {
      width: 90%;
   }

   .iv2 {
      width: 90%
   }

   .itc1 {
      padding: 8% 16% 0 0;
   }

   .iv3 {
      padding: 0 7% 0 0;
   }

   .iv4 {
      width: 100%;
      padding: 0px 7% 0 0;
   }


   .footer {
      margin-top: -80px;
   }

}

@media only screen and (min-width : 1200px) {
   .iv1, .itc2 {
      padding: 0 8% 0 7%;
   }

   .itc1 {
      padding: 8% 16% 0 1%;
   }

   .iv2 {
      padding: 0 8% 0 7%;
   }
}

@media only screen and (min-width : 1440px) {

   .iv2 {
      padding: 0 9.5% 0 7%;
   }
}
