/*******************************
       Base Element Styles
********************************/

html, body {
   box-sizing: border-box;
   margin: 0;
   overflow-x: hidden;
   width: 100%;
   padding: 0;
   font-family: Apercu-Regular;
   color: #0F0F0F;
}

/*******************************
       Base Layout Styles
********************************/
/* BANNER AREA */

.banner-text {
   font-family: DIN-CondensedBold;
   position: absolute;
   left: 0;
   text-align: center;
   color: #FFF;
   display:flex;
   flex-flow: column wrap;
}

/* SUBNAV AREA */

.m-subnav ul {
   display: flex;
   margin: 0;
   text-align: center;
}

.m-subnav li {
   position: relative;
}

.m-subnav li a {
   font-family: DIN-CondensedBold;
}

.m-subnav li a:hover {
   color: #0F0F0F;
   /*text-decoration: underline; /*COME BACK TO THIS */
}

.m-subnav li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 5px;
  content: "";
  display: block;
  height: 1.5px;
  left: 0;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.media:hover:after {
  width: 60%;
  left: 0;
}

.interviews:hover:after {
  width: 75%;
  left: 0;
}

/* SECTION 1 */

.section1 {
   width: 100%;
   margin: 0 auto;
   height: auto;
}

.section1-container {
   max-width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.s1 {
   margin-top: 25px;
   margin-right: 42%;
   margin-left: 20%;
}

.s1 img {
   box-shadow: 0 2px 50px 0 rgba(0,0,0,.1);
}


/* SECTION 2 */

.section2 {
   width: 100%;
   margin: 0 auto;
   height: auto;
}

.section2-container {
   max-width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

.st h2 {
   font-family: DIN-BlackAlternate;
   color: #F7F7F7;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
}

.svc {
   display: inline-block;
  position: relative;
}

.sv {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.offset-container {
   max-width: 1440px;
   margin: 0 auto;
}

.sv2-container, .sv3-container {
   width: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

.sv6 {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* INTERVIEW SECTION */

.interview-section {
   width: 100%;
   margin: 50px auto 0;
   height: auto;
   max-width: 1440px;
}

.i-section-container {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

.it h2 {
   font-family: DIN-BlackAlternate;
   color: #F7F7F7;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
}

.ivc, .ivc2, .ivc3 {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
}

.iv1 img, .iv2 img, .iv3 img, .iv4 img {
   width: 100%;
   box-shadow: 0 2px 35px 0 rgba(0,0,0,.1);
}

.itc1 p, .itc2 p {
   margin: 0;
   font-family: DIN-CondensedBold;
   text-transform: uppercase;
}

.footer {
   width: 100%;
}
/***************************
       MEDIA QUERIES
***************************/

@media only screen and (min-width : 320px) {

   /* BANNER AREA */
   .media-logo {
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      /*width: 11.5vw;*/
      height: 22px;
      margin-top: 32px;
      margin-right: 45%;
      z-index: 500;
   }

   .banner-text-container {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }

   .banner-text {
      width: 100%;
      top: 35%;
      margin: 0 auto;
      display: inline-block;
   }

   .banner-text h2 {
      width: 50%;
      margin: 0 auto;
      font-size: 30px;
      letter-spacing: 8px;
      line-height: 40px;
      word-wrap: break-word;

   }

   .hero {
      display: none;
   }

   /* SUBNAV AREA */
   .m-subnav ul {
      margin-top: 50px;
      justify-content: center;

   }

   .m-subnav li a {
      margin-right: 39px;
      font-size: 24px;
      letter-spacing: 2px;
      line-height: 40px;
      color: #CFCFCF;
   }

   /* SECTION 1 */
   .s1 img {
      border-radius: 6px;
   }

   /* SECTION 2 */
   .section2 {
      margin-top: 35px; /*Check this later */
   }

   .svc {
      top: -4.2vh;
   }

   .sv img {
      margin: 0 auto;
      width: 85%;
      border-radius: 6px;
      box-shadow: 0 2px 50px 0 rgba(0,0,0,.2);
   }

   .st h2 {
      /*font-size: 50px;*/
      font-size: 12.4vw;
      /*letter-spacing: 20px;*/
      letter-spacing: 5vw;
      line-height: 100px;
   }

   .sv p {
      width: 100%;
      font-size: 13px;
      letter-spacing: 0.19px;
      line-height: 20px;
      align-self: flex-start;
      padding-left: 7.2%;
      margin: 20px 0 0 0;
   }

   .sv2 {
      padding: 0 31px 0 28px
   }

   .sv3 {
      padding: 0 28px 0 0
   }

   .sv2 img, .sv3 img {
      width: 100%;
      border-radius: 6px;
      box-shadow: 0 2px 35px 0 rgba(0,0,0,.1);

   }

   .sv2 p, .sv3 p {
      margin: 25px 0 0;
      font-size: 13px;
      letter-spacing: 0.19px;
      line-height: 20px;
   }

   .sv3-container {
      margin-top: 50px;
   }

   .sv4 {
      padding: 0 33px 0 44px
   }

   .sv5 {
      padding: 80px 45px 0 0
   }

   .sv6 {
      padding: 25px 153px 0 95px;
   }

   .sv4 img, .sv5 img {
      width: 100%;
      border-radius: 6px;
      box-shadow: 0 2px 35px 0 rgba(0,0,0,.1);
   }

   .sv4 p, .sv5 p, .s1 p {
      margin: 10px 0 0;
      font-size: 11px;
      letter-spacing: 0.16px;
      line-height: 20px;
   }

   /* INTERVIEW SECTION*/

   .it h2 {
      /*font-size: 35px;*/
      font-size: 10.5vw;
      /*letter-spacing: 14px;*/
      letter-spacing: 3.5vw;
      line-height: 100px;
      padding-left: 3.5vw;
   }

   .iv1 {
      width: 100%;
      padding: 0 2.5% 0 6.8%;
   }

   .iv1 img, .iv2 img, .iv3 img, .iv4 img {
      width: 100%;
      border-radius: 6px;
   }

   .iv4 {
      width: 100%;
      padding: 0 9.5% 0 0.8%;
   }

   .iv1 p, .iv2 p, .iv3 p, .iv4 p {
      font-size: 11px;
      letter-spacing: 0.16px;
      line-height: 20px;
      /*writing-mode: vertical-rl;
      text-orientation: sideways;*/
   }

   .itc1 {
      /*padding: 35px 27px 0 0;*/
      padding: 10% 5.2% 0 2%;

   }

   .itc2 {
      padding: 5% 6.2% 0 2%;
   }

   .itc2 p {
      padding-left: 0;
      text-align: right;
   }

   .itc1 p, .itc2 p {
      /*font-size: 14px;*/
      font-size: 3.2vw;
      /*letter-spacing: 1px;*/
      letter-spacing: 0.25vw;
      /*line-height: 25px;*/
      line-height: 6vw;
      padding-left: 10px;

   }

   .ivc, .ivc3 {
      top: -4.6vh;
   }

   .ivc, .ivc2, .ivc3 {
      margin: -5px auto;
   }

   .ivc3 {
      flex-direction: row-reverse;
      margin-top: 10%;
   }

   .iv2 {
      padding: 0 2.5% 0 6.8%;
   }

   .iv2 img, .iv3 img {
      width: 90%;
   }


   .iv3 {
      padding: 0 5.2% 0 0;
   }


}

@media only screen and (min-width : 430px) {
   .banner-text {
      top: 44%;
   }
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 570px) {

   /* BANNER AREA */
   .banner-text {
      width: 100%;
      /*top: 38%;*/
   }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

   /* BANNER AREA */
   .media-logo {
      position: absolute;
      width: 45px;
      height: 22px;
      margin-top: 32px;
      margin-left: 4.7%;
      z-index: 500;
      top: 10px;
      left: 10px;
   }

   .banner-text {
      top: 42%;
   }

   .banner-text h2 {
      width: 100%;
      font-size: 4.02vw;
      /*font-size: 40px;*/
      /*letter-spacing: 15px;*/
      letter-spacing: 1.5vw;
      line-height: 50px;
   }

   .hero {
      display: block;
   }

   .mm-hero {
      display: none;
   }


   /* SUBNAV AREA */
   .m-subnav ul {
      margin-top: 32px;
      margin-left: 10%;
      justify-content: flex-start;;
   }

   .m-subnav li a {
      margin-right: 31px;
      font-size: 24px;
      line-height: 40px;
      color: #CFCFCF;
   }

   /* SECTION 2 */
   .section2 {
      margin-top: 75px; /*Check this later */
   }

   .svc {
      top: -2.2vh;
   }

   .st h2 {
      /*font-size: 50px;*/
      font-size: 15.4vw;
      /*letter-spacing: 20px;*/
      letter-spacing: 7vw;
      line-height: 100px;
   }

   .sv2-container {
      margin-top: 65px;
      margin-bottom: 50px;

   }

   .sv2 {
      padding: 0 60px 0 80px;
   }

   .sv3 {
      padding: 0 80px 0 0;
   }

   .sv2 p, .sv3 p {
      margin: 20px 0 0;
   }

   .sv3-container {
      margin-top: 105px;
   }

   .sv4 {
      padding: 0 60px 0 100px;
   }

   .sv5 {
      padding: 58px 80px 0 0;
   }

   .sv4 p, .sv5 p, .s1 p {
      font-size: 13px;
   }

   .iv1 p, .iv2 p, .iv3 p, .iv4 p {
      font-size: 13px;
   }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

   .banner-text {
      width: 100%;
      top: 43%;
   }

   /* SECTION 1 */
   .s1 img, .sv4 img, .sv5 img {
      border-radius: 0;
   }

   .s1 img {
      width: 75%;
   }

   .s1 {
      margin-top: 75px;
      margin-right: 32%;
      margin-left: 30%;

   }

   #sv4 {
      padding: 0 12.4% 0 17%;
      position: relative;
   }

   /* SECTION 2 */

   .svc {
      top: -15.5vh;
   }

   .st h2 {
      /*font-size: 220px;*/
      font-size: 16.5vw;
      /*letter-spacing: 200px;*/
      letter-spacing: 14vw;
      line-height: 305px;
      padding-left: 14vw;
   }

   .sv img {
      width: 65%;
      border-radius: 0;
   }

   .sv p {
      padding-left: 17.2%;

   }

   .sv2-container {
      margin-top: -20px;
      margin-bottom: 0;
   }

   .sv2 {
      /*padding: 0 60px 0 180px;*/
      padding: 0 6% 0 18.2%;

   }

   .sv3 {
      /*padding: 0 180px 0 5px;*/
      padding: 0 18.2% 0 0.5%;

   }

   .sv2 img, .sv3 img {
      border-radius: 0;
   }

   .sv3-container {
      margin-top: 150px;
   }

   .sv4 {
      /*padding: 0 95px 0 200px;*/
      padding: 0 10.4% 0 18%;
      position: relative;

   }

   .sv5 {
      padding: 10% 13.5% 0 0;
      position: relative;
   }

   /*.sv4 p, .sv5 p {
      transform: rotate(270deg);
   }*/

   /* INTERVIEW SECTION */

   .it h2 {
      /*font-size: 130px;*/
      font-size: 13vw;
      /*letter-spacing: 32px;*/
      letter-spacing: 3.2vw;
      line-height: 305px;
      /*padding-left: 42px;*/
      padding-left: 6vw;
   }

   .ivc {
      top: -12.4vh;
   }

   .itc1 p, .itc2 p {
      font-size: 1.5vw;
      letter-spacing: 0.2vw;
      line-height: 3vw;
      padding-left: 0;
   }

   .ivc, .ivc2 {
      margin: -30px auto;
   }

   .iv1, .itc2 {
      width: 100%;
      padding: 0 8% 0 7%;
   }

   .itc2 {
      padding: 0 7% 0 7%;
      /*margin-left: 10%;*/
   }

   .iv1 img, .iv2 img, .iv3 img, .iv4 img {
      width: 100%;
      border-radius: 0;
   }

   .itc2 {
      padding-top: 6%;
   }

   .iv2 {
      width: 100%;
      padding: 0 6% 0 7%;
      /*margin-left: 10%;*/
   }

   .iv1, .iv3 {
      width: 90%;
   }

   .iv2 {
      width: 90%
   }

   .itc1 {
      padding: 8% 16% 0 0;
   }

   .iv3 {
      padding: 0 7% 0 0;
   }

   .iv4 {
    width: 100%;
    padding: 0px 7% 0 0;
   }


   .footer {
      margin-top: -80px;
   }

}
