/*******************************
       Base Element Styles
********************************/

html, body {
   box-sizing: border-box;
   margin: 0;
   overflow-x: hidden;
   width: 100%;
   height: auto;
   padding: 0;
   font-family: Apercu-Regular;
   color: #0F0F0F;
}

/*******************************
       Base Layout Styles
********************************/
/* BANNER AREA */

.media-logo {
   position: absolute;
   width: 45px;
   height: 22px;
   margin-top: 32px;
   margin-left: 4.7%;
}

.banner-text {
   font-family: DIN-CondensedBold;
   position: absolute;
   left: 0;
   text-align: center;
   color: #FFF;
   display:flex;
   flex-flow: column wrap;
}

/* SUBNAV AREA */

.m-subnav ul {
   display: flex;
   margin: 0;

}

.m-subnav li a {
   font-family: DIN-CondensedBold;
}

.m-subnav li a:hover {
   color: #0F0F0F;
   text-decoration: underline; /*COME BACK TO THIS */
}

/* SECTION 2 */

.section2 {
   width: 100%;
   margin: 0 auto;
   height: auto;
}

.section2-container {
   max-width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

.st h2 {
   font-family: DIN-BlackAlternate;
   color: #F7F7F7;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
}

.svc {
   display: inline-block;
  position: relative;
}

.sv {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}


/***************************
       MEDIA QUERIES
***************************/

@media only screen and (min-width : 320px) {

   /* BANNER AREA */
   .banner-text-container {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }

   .banner-text {
      width: 100%;
      top: 35%;
      margin: 0 auto;
      display: inline-block;
   }

   .banner-text h2 {
      width: 50%;
      margin: 0 auto;
      font-size: 30px;
      letter-spacing: 8px;
      line-height: 40px;
      word-wrap: break-word;

   }

   .hero {
      display: none;
   }

   /* SUBNAV AREA */
   .m-subnav ul {
      margin-top: 50px;
      justify-content: center;

   }

   .m-subnav li a {
      margin-right: 39px;
      font-size: 24px;
      letter-spacing: 2px;
      line-height: 40px;
      color: #CFCFCF;
   }

   /* SECTION 2 */
   .section2 {
      margin-top: 200px; /*Check this later */
   }

   .svc {
      top: -4.2vh;
   }

   .sv img {
      margin: 0 auto;
      width: 85%;
      border-radius: 6px;
      box-shadow: 0 2px 50px 0 rgba(0,0,0,.2);
   }

   .st h2 {
      /*font-size: 50px;*/
      font-size: 12.4vw;
      /*letter-spacing: 20px;*/
      letter-spacing: 5vw;
      line-height: 100px;
   }

   .sv p {
      width: 100%;
      font-size: 13px;
      letter-spacing: 0.19px;
      line-height: 20px;
      align-self: flex-start;
      padding-left: 7.2%;
      margin: 20px 0 0 0;
   }


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 570px) {

   /* BANNER AREA */
   .banner-text {
      width: 100%;
      top: 38%;
   }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

   /* BANNER AREA */
   .banner-text {
      width: 100%;
      top: 40%;
   }

   .banner-text h2 {
      width: 100%;
      font-size: 4.02vw;
      /*font-size: 40px;*/
      /*letter-spacing: 15px;*/
      letter-spacing: 1.5vw;
      line-height: 50px;
   }

   .hero {
      display: block;
   }

   .mm-hero {
      display: none;
   }


   /* SUBNAV AREA */
   .m-subnav ul {
      margin-top: 32px;
      margin-left: 10%;
      justify-content: flex-start;;
   }

   .m-subnav li a {
      margin-right: 31px;
      font-size: 24px;
      line-height: 40px;
      color: #CFCFCF;
   }

   /* SECTION 2 */
   .section2 {
      margin-top: 75px; /*Check this later */
   }

   .svc {
      top: -2.2vh;
   }

   .st h2 {
      /*font-size: 50px;*/
      font-size: 15.4vw;
      /*letter-spacing: 20px;*/
      letter-spacing: 7vw;
      line-height: 100px;
   }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

   /* SECTION 2 */


   .svc {
      top: -15.5vh;
   }

   .st h2 {
      /*font-size: 220px;*/
      font-size: 16.5vw;
      /*letter-spacing: 200px;*/
      letter-spacing: 14vw;
      line-height: 305px;
      padding-left: 14vw;
   }

   .sv img {
      width: 65%;
      border-radius: 0;
   }

   .sv p {
      padding-left: 17.2%;

   }

}
