/*******************************
Base Element Styles
********************************/

html, body {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   overflow-x: hidden;
   width: 100%;
   height: auto;
   padding: 0;
   font-family: Apercu-Regular;
   color: #0F0F0F;
}

a {
   text-decoration: none;
   color: inherit;
}

a:hover {
   cursor: pointer;
}

ul {
   list-style: none;
}

img {
   width: 100%;
   vertical-align: middle;
   border-style: none;
}


/*******************************
Base Layout Styles
********************************/

.banner-text {
   font-family: DIN-CondensedBold;
   position: absolute;
   left: 0;
   text-align: center;
   color: #FFF;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-flow: column wrap;
   flex-flow: column wrap;
}

.partnerships-2-container {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.sw-text {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

#sw-text {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.sw-text-1, .sw-text-3 {
   font-size: 14px;
   letter-spacing: 1.17px;
   line-height: 25px;
   text-align: center;
   width: 100%;
   text-transform: uppercase;
   font-family: DIN-CondensedBold;
   text-align: center;
}

.sw-text-2, .sw-text-4 {
   text-align: center;
}

.sw-img, .snow-img {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   width: 100%
}

.skate-text-container-2 {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.partnerships {
   max-width: 966px;
   margin: 115px auto;
}

hr {
   max-width: 1090px;
   width: 80%;
   background-color: #EEE;
   color: #EEE;
   border-style: solid;
}

.bg {
   position: absolute;
   z-index: -1;
   left: 0;
}

/***************************
MEDIA QUERIES
***************************/


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

   /* BANNER AREA */
   .media-logo {
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 22px;
      margin-top: 32px;
      margin-right: 45%;
      z-index: 500;
   }

   .banner-text-container {
      width: 100%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }

   .banner-text {
      width: 100%;
      top: 35%;
      margin: 0 auto;
      display: inline-block;
   }

   .banner-text .play-icon {
      position: absolute;
      top: 175px;
      left: 49%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
   }

   .sv .play-icon {
      position: absolute;
      top: 43%;
      left: 50%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      right: auto;
   }

   .banner-text h2 {
      width: 50%;
      margin: 0 auto;
      font-size: 30px;
      letter-spacing: 8px;
      line-height: 40px;
      word-wrap: break-word;
   }

   .hero {
      display: none;
   }

   .vertical-text {
      display: none;
   }

   .partnerships {
      width: 80%;
      margin: 75px auto;
   }

   .bg {
      top: 50%;
   }

   .partnerships-2-container {
      margin: 46px auto 0 auto;
   }

   .sw-text-3 {
      font-size: 14px;
      letter-spacing: 1.17px;
      line-height: 25px;
      text-align: center;
   }

   .sw-text-4 {
      font-size: 11px;
      line-height: 25px;
      text-align: center;
   }

   .sw-text-1, .sw-text-2 {
      display: none;
   }

   .sw-text-3 {
      margin-top: 45px;
      margin-bottom: 10px;
      width: 300px;
   }

   .sw-text-4 {
      width: 320px;
   }

   .sw-img {
      width: 150px;
      margin-right: 15vw;
   }

   .sw-img img {
      width: 95%;
      border-radius: 4px;
      -webkit-box-shadow: 2px 2px 50px 0 rgba(0,0,0,.2);
      box-shadow: 2px 2px 50px 0 rgba(0,0,0,.2);
   }

   .skate-text-container-2 {
      margin-top: 45px;
   }

   .skate-text-5 {
      width: 320px;
      font-size: 12px;
      line-height: 25px;
   }

   .skate-text-6 {
      margin-top: 21px;
      width: 300px;
      font-family: DIN-CondensedBold;
      letter-spacing: 1.17px;
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;
   }

   .snow-img img {
      width: 100%;
      border-radius: 4px;
      -webkit-box-shadow: 2px 2px 50px 0 rgba(0,0,0,.1);
      box-shadow: 2px 2px 50px 0 rgba(0,0,0,.1);
   }

   .snow-img  {
      width: 116px;
      margin: 118px auto 0 auto;
   }

   .banner-text h2 {
      width: 80% !important;
   }
}

@media only screen and (min-width : 430px) {
   .banner-text {
      top: 44%;
   }

   .banner-text .play-icon {
      position: absolute;
      top: 140px;
      left: 49%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
   }
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 570px) {

   /* BANNER AREA */
   .banner-text {
      width: 100%;
   }

   .sw-text-3 {
      margin-top: 45px;
      margin-bottom: 10px;
      width: 550px;
   }

   .sw-text-4 {
      width: 420px;
   }

   .sw-img {
      width: 194px;
      margin-right: 15vw;
   }

   .skate-text-5 {
      width: 420px;
   }

   .skate-text-6 {
      width: 550px;
   }

   .snow-img  {
      width: 160px;
      margin: 118px auto 0 auto;
   }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

   .media-logo {
      position: absolute;
      width: 45px;
      height: 22px;
      margin-top: 32px;
      margin-left: 40px;
      z-index: 500;
      top: 10px;
      left: 10px;
   }

   .banner-text {
      top: 45%;
   }

   .banner-text h2 {
      width: 100%;
      font-size: 4.02vw;
      letter-spacing: 1.5vw;
      line-height: 50px;
   }

   .banner-text .play-icon {
      position: absolute;
      top: 120px;
      left: 49%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
   }

   .hero {
      display: block;
   }

   .mm-hero {
      display: none;
   }

   .sw-img {
      width: 230px;
      margin-right: 15vw;
   }

   .snow-img  {
      width: 190px;
      margin: 118px auto 0 auto;
   }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

   .vertical-text {
      width: 11%;
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      -webkit-transform-origin: left top 0;
      -ms-transform-origin: left top 0;
      transform-origin: left top 0;
      font-size: 13px;
      font-weight: normal;
      letter-spacing: 0.19px;
      padding-bottom: 10px;
      border-bottom: 1px solid black;
      margin: 0px 0px 0px 75px;
      position: fixed;
      display: inline-block;
      color: #2a2a2a;
      z-index: 10000;
   }

   .sw-text {
      margin: 0 auto;
   }

   #sw-text {
      display: none;
   }

   .partnerships-2-container {
      max-width: 1440px;
      width: 95%;
   }

   .sw-text-1, .sw-text-2 {
      display: block;
   }

   .sw-text-1 {
      font-size: 24px;
      letter-spacing: 2px;
      line-height: 40px;
      width: 513px;
      text-align: left;
      margin-top: 150px;
      margin-bottom: 35px;
   }

   .sw-text-2 {
      font-size: 15px;
      line-height: 30px;
      width: 500px;
      text-align: left;
   }

   .sw-text-1 p, .sw-text-2 p {
      margin: 0;
   }

   .sw-img {
      width: 600px;
      margin: 69px auto 0 auto;
   }

   .sw-img img {
      width: 75%;
   }

   .skate-text-container-2 {
      margin-top: 115px;
   }

   .skate-text-5 {
      width: 448px;
      font-size: 15px;
      line-height: 30px;
   }

   .skate-text-6 {
      width: 726px;
      font-size: 24px;
      letter-spacing: 2px;
      line-height: 40px;
   }

   .snow-img  {
      width: 334px;
      margin: 115px auto 0 10px;
   }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1080px) {

   .vertical-text {
      width: 10%;
   }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

   .vertical-text {
      width: 9%;
   }

   .sw-img {
      margin: 69px 0 0 auto;
   }

   .partnerships {
      width: 80%;
      margin: 115px auto;
   }
   .bg {
      top: 70%;
   }

}

@media only screen and (min-width : 1350px) {

   .vertical-text {
      width: 8%;
   }
}
